.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  bottom: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0.2);
  transition: 0.2s linear;
}

.modalBack {
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCont {
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  color: var(--primary-color);
  font: var(--font-size-l);
  background: var(--bg-color);
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  transform: scale(1);
}

.closed {
  transform: scale(0.2);
}
